name: golangci-lint
on:
  push:
  pull_request:
  
jobs:
  golangci:
    name: Lint Sourcecode
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v3

      - uses: actions/setup-go@v5
        with:
          go-version: '1.20'
          cache: false

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53
          args: --timeout 240s
